@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wihjve');
  src:  url('../fonts/icomoon.eot?wihjve#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wihjve') format('truetype'),
    url('../fonts/icomoon.woff?wihjve') format('woff'),
    url('../fonts/icomoon.svg?wihjve#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}