.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 3px 3px 10px rgb(51 51 51 / 30%);
}
.shop_head {
    width: 100%;
    height: 180px;
    .logo_name {
        width: 100%;
        height: 140px;
        background-color: #a00;
        color: #fff;
    }
    .shop_nav {
        height: 40px;
        line-height: 40px;
        padding: 0 400px;
        background-color: #333;
    }
    .shop_nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            color: #fff;
        }
    }
}

.crumb_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 300px;
    background-color: #eee;
    .crumb {
        display: flex;
        a {
            font-size: 14px;
        }
        span {
            padding: 0 10px;
            font-size: 14px;
        }
    }
    .contact {
        display: flex;
        .goodshop {
            font-size: 12px;
            color: #fff;
            padding: 2px;
            background-color: #d22;
        }
        .hove_wrap {
            display: flex;
            .item {
                padding: 0 0 0 20px;
            }
            a {
                font-size: 14px;
            }
        }
    }
}

.product_intro {
    display: flex;
    justify-content: space-between;
    padding: 20px  300px 0;
    .preview_wrap {
        width: 450px;
        .preview {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 450px;
            border: 1px solid #ddd;
            cursor: move;
            // overflow: hidden;
            >img {
                display: block;
                position: absolute;
                top: 0;
                width: 448px;
            }
            .y_box {
                display: none;
                position: absolute;
                width: 260px;
                height: 260px;
                background-color: rgba(#ff3, 0.4);
            }
            .big_pic {
                display: none;
                position: absolute;
                top: 0;
                left: 448px;
                width: 555px;
                height: 555px;
                border: 1px solid #ddd;
                overflow: hidden;
                z-index: 999;
                >img {
                    display: block;
                    position: absolute;
                    width: 948px;
                }
            }
        }
        .spec_forward, .spec_backward {
            font-size: 40px;
            cursor: pointer;
        }
        .spec_list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // width: 450px;
            padding: 20px 0 0 0;
            .small_list {
                width: 380px;
                height: 60px;
            }
            ul {
                display: flex;
                li {
                    width: 60px;
                    height: 60px;
                    margin: 0 7px;
                    border: 2px solid #f22;
                    overflow: hidden;
                }
                img {
                    display: block;
                }
            }
        }
        .preview_info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0 0 0;
            a {
                margin: 0 10px 0 0;
                font-size: 2px;
                i {
                    font-size: 14px;
                    color: #d22;
                }
                &:hover {
                    color: #d22;
                }
            }
        }
        .purchase_op {
            padding: 20px 0 0 0;
            text-align: center;
            a {
                font-size: 14px;
                padding: 5px 15px;
                border: 1px solid #ddd;
                &:hover {
                    border: 1px solid #d22;
                }
            }
        }
    }
}